@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Epilogue, sans-serif;
  color: black;
  max-width: 1600px;
  min-width: 375px;
  margin: 0 auto;
  --color-active: #d29dd1;
  --color-orange: #EF6D58;
  --fs-h1: 72px;
  --fs-h2: 56px;
  --fs-h3: 40px;
  --fs-h5: 16px;
  --fs-h4: 24px;
  --fs-text-big: 20px;
  --fs-text-small: 14px;
  --border-button: solid #7e7d7d;
  --bg-color-button: transparent;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

html, body {
  background-color: #f2dfd1;
  max-width: 1600px;
  font-size: 16px;
}

li {
  list-style: none;
}

h4 {
  font-size: var(--fs-h4);
}

h5 {
  font-size: var(--fs-h5);
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
  font-weight: 700;
}

h3 {
  font-size: var(--fs-h3);
  font-weight: 700;
}

.text-big {
  font-size: var(--fs-text-big);
}

.text-small {
  font-size: var(--fs-text-small);
}

button {
  width: 140px;
  height: 45px;
  border-radius: 8px;
  background-color: var(--bg-color-button);
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

button:hover {
  background-color: #EF6D58;
  color: black;
  cursor: pointer;
}

.header {
  background-color: rgb(31, 20, 35);
}
.header .header-inner {
  max-width: 1170px;
  margin: 0 auto;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}
.header .header-inner .active .logo {
  color: var(--color-active);
}
.header .header-inner .logo {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header-inner .logo .logo-item-big {
  position: relative;
  float: left;
}
.header .header-inner .logo .logo-item-big .logo-item-small {
  position: absolute;
  top: 14px;
  right: 12px;
  z-index: 2;
}
.header .header-inner .logo h4 {
  margin-left: 10px;
}
.header .header-inner .logo .header-logo:hover {
  text-decoration: underline;
}
.header .header-inner .menu {
  width: 400px;
  padding: 0 20px;
}
.header .header-inner .menu .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header-inner .menu .menu-list img {
  background-color: #ef6d58;
  width: 20px;
  border-radius: 50%;
  float: left;
  margin-top: -2px;
}
.header .header-inner .menu .menu-list a {
  color: white;
  margin-left: 3px;
}
.header .header-inner .menu .menu-list .active a {
  color: var(--color-active);
}
.header .header-inner .menu .menu-list li :hover {
  text-decoration: underline;
}
.header .header-inner button {
  border: var(--border-button);
  margin-right: 20px;
}
.header .modern-studio {
  margin: 80px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header .modern-studio .modern-studio-left {
  position: relative;
  width: 450px;
  height: 670px;
}
.header .modern-studio .modern-studio-left .modern-studio-left-position {
  max-width: 500px;
  height: 602px;
  color: white;
  position: absolute;
  z-index: 1;
}
.header .modern-studio .modern-studio-left .modern-studio-left-position .ms-p-orange {
  color: #ef6d58;
}
.header .modern-studio .modern-studio-left .modern-studio-left-position .ms-p-grey {
  color: #7e7d7d;
}
.header .modern-studio .modern-studio-left .modern-studio-left-position .ms-left-buttons {
  width: 300px;
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .modern-studio .modern-studio-left .modern-studio-left-position .ms-left-buttons button {
  border: var(--border-button);
}
.header .modern-studio .modern-studio-left .metainc {
  margin-top: 50px;
}
.header .modern-studio .modern-studio-left .metainc img {
  float: left;
}
.header .modern-studio .modern-studio-left .metainc p {
  margin-left: 70px;
  margin-top: 10px;
}
.header .modern-studio .modern-studio-left .ms-left-star {
  position: absolute;
  top: 40px;
  left: 280px;
}
.header .modern-studio .modern-studio-right {
  position: relative;
  width: 580px;
  height: 620px;
}
.header .modern-studio .modern-studio-right .modern-studio-right-oval {
  max-width: 600px;
  height: 500px;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 50px;
  left: 30px;
  z-index: 1;
  overflow: hidden;
}
.header .modern-studio .modern-studio-right .modern-studio-right-oval .big-oval {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: slidebigoval;
          animation-name: slidebigoval;
}
.header .modern-studio .modern-studio-right .modern-studio-right-oval .big-oval img {
  max-width: 90%;
}
@-webkit-keyframes slidebigoval {
  from {
    margin-left: -200%;
  }
  to {
    margin-left: 0%;
  }
}
@keyframes slidebigoval {
  from {
    margin-left: -200%;
  }
  to {
    margin-left: 0%;
  }
}
.header .modern-studio .modern-studio-right .modern-studio-right-grid {
  display: grid;
  max-width: 570px;
  position: absolute;
  z-index: 2;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.header .modern-studio .modern-studio-right .modern-studio-right-grid .arch-laptop {
  grid-column: 1/3;
  grid-row: 1/4;
  width: auto;
  height: auto;
  position: relative;
}
.header .modern-studio .modern-studio-right .modern-studio-right-grid .arch-laptop .arch {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: slidearch;
          animation-name: slidearch;
  position: absolute;
  max-width: 200px;
  height: 100%;
}
.header .modern-studio .modern-studio-right .modern-studio-right-grid .arch-laptop .laptop {
  position: absolute;
  margin-top: 50px;
  margin-left: 20px;
  z-index: 3;
  max-width: 200px;
}
.header .modern-studio .modern-studio-right .modern-studio-right-grid .oval {
  grid-column: 3/4;
  grid-row: 1/3;
  max-width: auto;
  height: auto;
}
.header .modern-studio .modern-studio-right .modern-studio-right-grid .stars {
  grid-column: 3/4;
  grid-row: 1/3;
  position: absolute;
  margin-left: 35px;
  margin-top: 30px;
  z-index: 3;
  width: auto;
  height: auto;
}
.header .modern-studio .modern-studio-right .modern-studio-right-grid .cloud {
  grid-column: 4/5;
  grid-row: 1/3;
  width: auto;
  height: auto;
}
.header .modern-studio .modern-studio-right .modern-studio-right-grid .smiling-girl {
  grid-column: 3/5;
  grid-row: 3/6;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: slidesmile;
          animation-name: slidesmile;
  max-width: 200px;
}
.header .modern-studio .modern-studio-right .modern-studio-right-grid .spiral {
  grid-column: 1/2;
  grid-row: 4/5;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: slidespiral;
          animation-name: slidespiral;
  width: auto;
  height: auto;
}
.header .modern-studio .modern-studio-right .modern-studio-right-grid .id-card {
  grid-column: 1/3;
  grid-row: 5/7;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: slidecard;
          animation-name: slidecard;
  width: auto;
  height: auto;
}
.header .modern-studio .modern-studio-right .modern-studio-right-grid .arrow {
  grid-column: 3/4;
  grid-row: 6/7;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: slidearrow;
          animation-name: slidearrow;
  width: auto;
  height: auto;
}
@-webkit-keyframes slidearch {
  from {
    margin-left: 200%;
  }
  to {
    margin-left: 0%;
  }
}
@keyframes slidearch {
  from {
    margin-left: 200%;
  }
  to {
    margin-left: 0%;
  }
}
@-webkit-keyframes slidecard {
  from {
    margin-left: 200%;
  }
  to {
    margin-left: 0%;
  }
}
@keyframes slidecard {
  from {
    margin-left: 200%;
  }
  to {
    margin-left: 0%;
  }
}
@-webkit-keyframes slidearrow {
  from {
    margin-left: 200%;
  }
  to {
    margin-left: 0%;
  }
}
@keyframes slidearrow {
  from {
    margin-left: 200%;
  }
  to {
    margin-left: 0%;
  }
}
@-webkit-keyframes slidespiral {
  from {
    margin-left: 200%;
  }
  to {
    margin-left: 0%;
  }
}
@keyframes slidespiral {
  from {
    margin-left: 200%;
  }
  to {
    margin-left: 0%;
  }
}
@-webkit-keyframes slidesmile {
  from {
    margin-left: 200%;
  }
  to {
    margin-left: 0%;
  }
}
@keyframes slidesmile {
  from {
    margin-left: 200%;
  }
  to {
    margin-left: 0%;
  }
}

.arch,
.laptop,
.oval,
.stars,
.cloud,
.smiling-girl,
.spiral,
.arrow,
.id-card {
  display: grid;
  grid-auto-flow: row;
}

@media screen and (max-width: 1100px) {
  .modern-studio-left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .modern-studio-right {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
@media screen and (max-width: 800px) {
  .header .header-inner .menu .menu-list li a:last-child {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .header .modern-studio .modern-studio-left .ms-left-star {
    top: 10px;
    left: 180px;
  }
  .header .modern-studio .modern-studio-left .modern-studio-right-grid img {
    width: 70%;
  }
  .header .modern-studio h1 {
    font-size: 52px;
    white-space: wrap;
  }
}
.main {
  max-width: 1170px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main .addition {
  padding: 50px 0;
  margin-bottom: 160px;
  border-bottom: 1px solid gray;
}
.main .addition ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main .about .about-up ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.main .about .about-up ul .about-up-left {
  max-width: 570px;
  min-width: 375px;
}
.main .about .about-up ul .about-up-left img {
  max-width: 375px;
}
.main .about .about-up ul .about-up-right {
  max-width: 450px;
}
.main .about .about-up ul .about-up-right .title {
  color: var(--color-orange);
}
.main .about .about-up ul .about-up-right h2 {
  margin: 35px 0 40px 0;
}
.main .about .about-up ul .about-up-right .text-big {
  margin-bottom: 35px;
}
.main .about .about-up ul .about-up-right button {
  color: black;
  margin-top: 48px;
}
.main .about .about-down {
  margin-top: 50px;
}
.main .about .about-down ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main .about .about-down ul li {
  border: 1px solid gray;
  min-width: 356px;
  padding: 30px 0 30px 30px;
}
.main .how-we-work {
  margin-top: 140px;
  padding-bottom: 120px;
  border-bottom: 1px solid gray;
}
.main .how-we-work ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main .how-we-work .how-we-work-left {
  max-width: 470px;
  padding-bottom: 50px;
}
.main .how-we-work .how-we-work-left h3 {
  margin: 30px 0 45px;
}
.main .how-we-work .how-we-work-right {
  max-width: 600px;
}
.main .how-we-work .how-we-work-right ol {
  counter-reset: my-counter;
}
.main .how-we-work .how-we-work-right ol li {
  counter-increment: my-counter;
  margin-bottom: 50px;
}
.main .how-we-work .how-we-work-right ol li h4 {
  margin-left: 70px;
  padding-top: 28px;
}
.main .how-we-work .how-we-work-right ol li::before {
  content: counter(my-counter);
  font-size: 72px;
  font-weight: 700;
  float: left;
}
.main .video-reel {
  margin-top: 150px;
}
.main .video-reel ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main .video-reel .video-reel-left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 570px;
}
.main .video-reel .video-reel-right {
  max-width: 470px;
  padding-top: 55px;
}
.main .video-reel .video-reel-right h5 {
  color: var(--color-orange);
}
.main .video-reel .video-reel-right h3 {
  margin: 30px 0 35px;
}
.main .features {
  margin-top: 175px;
}
.main .features .features-top ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.main .features .features-top ul .features-top-left {
  max-width: 470px;
  padding-top: 70px;
}
.main .features .features-top ul .features-top-left h5 {
  color: var(--color-orange);
}
.main .features .features-top ul .features-top-left h3 {
  margin: 30px 0 50px;
}
.main .features .features-top ul .features-top-left ol {
  counter-reset: my-list;
  margin-top: 40px;
}
.main .features .features-top ul .features-top-left ol li {
  counter-increment: my-list;
  margin-bottom: 20px;
}
.main .features .features-top ul .features-top-left ol li p {
  margin-left: 50px;
  padding-top: 10px;
}
.main .features .features-top ul .features-top-left ol li::before {
  content: url(/assets/icons/Featers/check.svg);
  float: left;
}
.main .features .features-top ul .features-top-right img {
  max-width: 350px;
}
.main .features .features-bottom {
  margin-top: 190px;
}
.main .features .features-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main .features .features-bottom ul .features-bottom-left {
  max-width: 370px;
  height: 272px;
  margin-bottom: 50px;
}
.main .features .features-bottom ul .features-bottom-left h5 {
  color: var(--color-orange);
  margin: 75px 0 35px;
}
.main .features .features-bottom ul .features-bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 690px;
}
.main .features .features-bottom ul .features-bottom-right .features-card-left {
  border: 1px solid gray;
  padding: 20px 0 0 20px;
  max-width: 316px;
  height: 272px;
  -webkit-transition: 1s;
  transition: 1s;
}
.main .features .features-bottom ul .features-bottom-right .features-card-left h4 {
  margin: 40px 0 30px;
}
.main .features .features-bottom ul .features-bottom-right .features-card-right {
  border: 1px solid gray;
  padding: 20px 0 0 20px;
  max-width: 316px;
  height: 272px;
  -webkit-transition: 1s;
  transition: 1s;
}
.main .features .features-bottom ul .features-bottom-right .features-card-right h4 {
  margin: 125px 0 30px;
}
.main .features .features-bottom ul .features-bottom-right .features-card-left:hover,
.main .features .features-bottom ul .features-bottom-right .features-card-right:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  background-color: white;
}
.main .features .features-bottom ul .features-bottom-right .features-oval {
  position: relative;
}
.main .features .features-bottom ul .features-bottom-right .features-oval .features-middle {
  position: absolute;
  top: 23px;
  left: 22px;
  z-index: 2;
}
.main .service {
  margin-top: 250px;
}
.main .service .service-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main .service .service-top ul .service-top-left {
  max-width: 580px;
  padding-bottom: 100px;
}
.main .service .service-top ul .service-top-left img {
  max-width: 350px;
}
.main .service .service-top ul .service-top-right {
  max-width: 465px;
  padding-top: 10px;
}
.main .service .service-top ul .service-top-right h5 {
  color: var(--color-orange);
}
.main .service .service-top ul .service-top-right h2 {
  margin: 30px 0 35px;
}
.main .service .service-top ul .service-top-right div {
  margin: 20px 0 20px;
}
.main .service .service-top ul .service-top-right div p {
  padding-top: 15px;
}
.main .service .service-top ul .service-top-right div img {
  float: left;
  margin-right: 10px;
}
.main .service .service-top ul .service-top-right .quote {
  margin: 0 0 30px 75px;
}
.main .service .service-top ul .service-top-right button {
  color: black;
}
.main .service .service-bottom {
  margin-top: 120px;
}
.main .service .service-bottom h5 {
  color: var(--color-orange);
}
.main .service .service-bottom h3 {
  margin: 30px 0 50px;
}
.main .service .service-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main .service .service-bottom ul li {
  width: 328px;
  height: 350px;
  border: 1px solid gray;
  padding: 40px 30px;
}
.main .service .service-bottom ul li h4 {
  margin: 40px 0 20px;
}
.main .service .service-bottom ul li p {
  line-height: 30px;
}
.main .service .service-bottom ul li .service-bottom-oval {
  position: relative;
}
.main .service .service-bottom ul li .service-bottom-oval .service-bottom-middle {
  position: absolute;
  margin-top: -60px;
  margin-left: 24px;
  z-index: 2;
}

.portfolio {
  width: inherit;
  height: auto;
  background-color: rgb(31, 20, 35);
  margin: 100px 0;
  color: white;
}
.portfolio .latest-work {
  max-width: 1170px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}
.portfolio .latest-work h5 {
  color: var(--color-orange);
}
.portfolio .latest-work ul {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.portfolio .latest-work ul li {
  overflow: hidden;
  margin: auto;
  position: relative;
  border-radius: 20px;
  max-width: 670px;
}
.portfolio .latest-work ul li .picture {
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}
.portfolio .latest-work ul li .text {
  position: absolute;
  top: 300px;
  left: 50px;
  z-index: 2;
  color: white;
}
.portfolio .latest-work ul li .picture:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}
.portfolio .get-started-wrap {
  background-color: #f2dfd1;
  max-width: 1170px;
  margin: 100px auto;
  padding: 50px 0;
}
.portfolio .get-started-wrap .get-started {
  position: relative;
}
.portfolio .get-started-wrap .get-started ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.portfolio .get-started-wrap .get-started ul li {
  max-width: 250px;
}
.portfolio .get-started-wrap .get-started ul .we-help h5 {
  margin: 50px 0 30px;
  color: var(--color-orange);
}
.portfolio .get-started-wrap .get-started ul .we-help h4 {
  text-wrap: wrap;
  margin-bottom: 50px;
}
.portfolio .get-started-wrap .get-started ul .get-started-star {
  position: absolute;
  top: -120px;
  left: 10%;
  z-index: 1;
}
.portfolio .get-started-wrap .get-started ul .get-started-ID {
  margin-bottom: 60px;
  max-width: 100%;
}
.portfolio .get-started-wrap .get-started ul .get-started-girl-cloud {
  position: relative;
  max-width: 100%;
}
.portfolio .get-started-wrap .get-started ul .get-started-girl-cloud .get-started-cloud {
  position: relative;
}
.portfolio .get-started-wrap .get-started ul .get-started-girl-cloud .get-started-girl {
  position: absolute;
  top: -50%;
  left: 10%;
  z-index: 6;
}
.portfolio .events {
  max-width: 1170px;
  margin: auto;
}
.portfolio .events .events-titel {
  text-align: center;
}
.portfolio .events .events-titel h5 {
  color: var(--color-orange);
}
.portfolio .events ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.portfolio .events ul li {
  width: 365px;
  height: 448px;
  border: 1px solid #3a3c56;
  margin: 20px 0;
}
.portfolio .events ul li .event-date {
  margin: 0 50px;
}
.portfolio .events ul li .event-date h1 {
  float: left;
  margin: 48px 10px 0 0;
}
.portfolio .events ul li .event-date h4 {
  padding: 60px 0 0 0;
}
.portfolio .events ul li .event-time {
  margin: 50px 20px 50px 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #3a3c56;
  text-align: left;
}
.portfolio .events ul li .event-time img {
  float: left;
  margin-right: 10px;
}
.portfolio .events ul li .events-down {
  margin: 30px 20px;
}
.portfolio .events ul li .events-down p {
  margin-top: 50px;
}

@media screen and (max-width: 1160px) {
  .portfolio .latest-work ul li img {
    width: 670px;
    height: 416px;
  }
}
@media screen and (max-width: 400px) {
  .portfolio .latest-work ul li img {
    max-width: 670px;
    height: 416px;
  }
}
.footer {
  background-color: inherit;
}
.footer .main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  padding: 60px 0;
  border-bottom: 1px solid gray;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .main-footer .footer-agency .active h4 {
  color: var(--color-active);
}
.footer .main-footer .list-footer-service .title, .footer .main-footer .list-footer-menu .title {
  color: #EF6D58;
  margin: 5px 0 35px 20px;
}
.footer .main-footer .list-footer-service li, .footer .main-footer .list-footer-menu li {
  margin: 20px;
}
.footer .main-footer .list-footer-service .active li, .footer .main-footer .list-footer-menu .active li {
  color: var(--color-active);
}
.footer .footer-bottom {
  max-width: 1170px;
  width: 100%;
  height: 130px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer-bottom li {
  width: 800px;
}
.footer .footer-bottom .footer-botom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 800px) {
  .footer .main-footer {
    height: 250px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: grid;
    grid-template-areas: "footer-agency footer-agency" "list-footer-menu list-footer-service" "footer-social footer-social";
  }
  .footer .main-footer .footer-agency {
    grid-area: footer-agency;
    margin-bottom: 20px;
  }
  .footer .main-footer .list-footer-menu {
    grid-area: list-footer-menu;
  }
  .footer .main-footer .list-footer-service {
    grid-area: list-footer-service;
  }
  .footer .main-footer .footer-social {
    grid-area: footer-social;
    text-align: center;
  }
  .footer .main-footer h4 {
    text-align: center;
  }
  .footer .footer-bottom {
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .footer .main-footer {
    height: 500px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: grid;
    grid-template-areas: "footer-agency" "list-footer-menu" " list-footer-service" "footer-social";
  }
  .footer .main-footer .footer-agency {
    grid-area: footer-agency;
  }
  .footer .main-footer .list-footer-menu {
    grid-area: list-footer-menu;
    text-align: center;
  }
  .footer .main-footer .list-footer-menu .title {
    margin: 30px 0 0 0;
  }
  .footer .main-footer .list-footer-service {
    grid-area: list-footer-service;
    text-align: center;
  }
  .footer .main-footer .list-footer-service .title {
    margin: 30px 0 0 0;
  }
  .footer .main-footer .footer-social {
    grid-area: footer-social;
    text-align: center;
  }
  .footer .footer-bottom {
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}