.header {
    background-color: rgb(31, 20, 35);
    .header-inner {   
        max-width: 1170px;
        margin: 0 auto;
        height: 80px;     
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        .active {
            .logo {
                color: var(--color-active);
            }
        }
        .logo {
            color: white;    
            display: flex;
            align-items: center; 
            .logo-item-big {
                position: relative;
                float: left; 
                .logo-item-small {
                    position: absolute;
                    top: 14px;
                    right: 12px;
                    z-index: 2;
                }   
            }
            h4 {
                margin-left: 10px;   
            }
            .header-logo:hover {
                text-decoration: underline;
            }       
       }
        .menu {
            width: 400px;
            padding: 0 20px;
            .menu-list {
                display: flex; 
                justify-content: space-between; 
                img{
                    background-color: #EF6D58;
                    width: 20px;
                    border-radius: 50%;
                    float: left;
                    margin-top: -2px;
                }
                a {                   
                color: white; 
                margin-left: 3px;   
                }
                .active {
                     a {
                        color: var(--color-active);
                     }
                         
                 }
                li :hover {
                    text-decoration: underline;
                }
            }
        }
        
      button {
        border: var(--border-button);
        margin-right: 20px; 
      }
     
    }
    .modern-studio {
        max-width: 1170px;
        // height: 615px;
        margin: 80px auto 0;    
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
            .modern-studio-left {
                position: relative;
                width: 500px;
                height: 670px;
                // border: solid white;
            .modern-studio-left-position {
                max-width: 500px;
                height: 602px;
                color: white;
                position: absolute;
                z-index: 1;     
                   .ms-p-orange {
                       color:#EF6D58;
                   }
                   .ms-p-grey {
                       color: #7e7d7d;
                   }
                   .ms-left-buttons {
                       width: 300px;
                       margin-top: 35px;
                       display: flex;
                       justify-content: space-between;
       
                       button {
                           border: var(--border-button);
                          
                       }
                    
                        

                   }
                   
               }
               .metainc {
                margin-top: 50px;
                img {
                    float: left;

                }
                p {
                    margin-left: 70px;
                    margin-top: 10px;
                }
            }
               .ms-left-star {
                   position: absolute;
                   top: 40px;
                   left: 280px;    
            }  
        }
             .modern-studio-right {
                position: relative;
                // border: solid white;
                width: 580px;
                height: 620px;

                .modern-studio-right-oval {
                    max-width: 580px;
                    height: 620px;
                    margin: auto;
                    position: absolute;
                    top: 50px;
                    z-index: 1;
                    overflow: hidden;
                .big-oval {
                    animation-duration:1s;
                    animation-name: slidebigoval;
                    img {
                        max-width: 100%;
                    }
                }
                // @keyframes slidebigoval {
                //     from {
                //        margin-left:-200%;
                //     }
                //     to {
                //         margin-left: 0%;
                //     }
                    
                // }
            }

            .modern-studio-right-grid {
                display: grid;
                max-width: 570px;
                position: absolute;
                z-index: 2;
                grid-template-areas:
                "arch arch oval cloud"
                "arch arch oval cloud"
                "arch arch smiling-girl smiling-girl"
                "spiral . smiling-girl smiling-girl"
                "id-card id-card smiling-girl smiling-girl"
                "id-card id-card arrow .";
                grid-template-columns: auto auto auto auto;
                grid-template-rows: auto auto auto auto auto auto;


                .arch {
                    grid-area: arch;
                    animation-duration: 3s;
                    animation-name: slidearch;
                    img {
                        max-width: 100%;
                    }

                }
                .laptop {

                    grid-area: arch;
                    position: absolute;
                    margin-top: 20px;
                    margin-left: 20px;
                    z-index: 3;
                    img {
                        max-width: 100%;
                    }


                }
                .oval {
                    grid-area: oval;
                    img {
                        max-width: 100%;
                    }
                    
                }
                .stars {
                    grid-area: oval;
                    position: absolute;
                    margin-left: 35px;
                    margin-top: 30px;
                    z-index: 3;
                    img {
                        max-width: 100%;
                    }
                }
                
                .cloud {
                    // grid-column: 4;
                    // grid-row: 1;
                    grid-area: cloud;
                    img {
                        max-width: 100%;
                    }
                }
                .smiling-girl {
                    // grid-column: 3/4;
                    // grid-row: 2/4;
                    grid-area: smiling-girl;
                    animation-duration: 4s;
                    animation-name: slidesmile;
                    img {
                        max-width: 100%;
                    }

                }
                .spiral {
                    // grid-column: 1;
                    // grid-row: 3;
                    grid-area: spiral;
                    animation-duration: 2s;
                    animation-name: slidespiral;
                    img {
                        max-width: 100%;
                    }
                }
                .id-card {
                    // grid-column: 1/2;
                    // grid-row: 4/5;
                    grid-area: id-card;
                    margin-left: 50px;
                    animation-duration: 2s;
                    animation-name: slidecard;
                    img {
                        max-width: 100%;
                    }
                }
                .arrow {
                    // grid-column: 3;
                    // grid-row: 5;
                    grid-area: arrow;
                    animation-duration: 4s;
                    animation-name: slidearrow;
                    img {
                        max-width: 100%;
                    }
                }
                // @keyframes slidearch {
                //     from {
                //        margin-left: 200%;
                //     }
                //     to {
                //         margin-left: 0%;
                //     }
                    
                // }
                // @keyframes slidecard {
                //     from {
                //        margin-left: 200%;
                //     }
                //     to {
                //         margin-left: 0%;
                //     }
                    
                // }
                // @keyframes slidearrow {
                //     from {
                //        margin-left: 200%;
                //     }
                //     to {
                //         margin-left: 0%;
                //     }
                    
                // }
                // @keyframes slidespiral {
                //     from {
                //        margin-left: 200%;
                //     }
                //     to {
                //         margin-left: 0%;
                //     }
                    
                // }
                // @keyframes slidesmile {
                //     from {
                //        margin-left: 200%;
                //     }
                //     to {
                //         margin-left: 0%;
                //     }
                    
                // }
        }
        }
    }
}


@media screen and (max-width:800px) {
    .header {
        .header-inner {
            .menu {
                .menu-list {
                    li {
                        a:last-child {
                            display: none;

                        }
                        
                    }
                }
            }
        }
    }
    
    
}