.header {
  .Services-header {
    color: white;
    max-width: 570px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
    p {
      padding: 30px;
      color: rgb(164, 162, 162);
    }
  }
}
