* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}
body {
    background-color:#f2dfd1;
    // min-width: 375px;
    font-size: 16px;
}
li {
    list-style: none;
}
h4 {
    font-size: 24px;
}

