:root {
    box-sizing: border-box;
    font-family: Epilogue, sans-serif;
    color: black;
    max-width: 1600px;
    min-width: 375px;
    margin: 0 auto;
    --color-active: #d29dd1;
    --fs-h1: 72px;
    --border-button: solid #7e7d7d;
    --bg-color-button: transparent;
}
