:root {
    box-sizing: border-box;
    font-family: Epilogue, sans-serif;
    color: black;
    max-width: 1600px;
    min-width: 375px;
    margin: 0 auto;
    --color-active: #d29dd1;
    --color-orange: #EF6D58;
    --fs-h1: 72px;
    --fs-h2: 56px;
    --fs-h3: 40px;
    --fs-h5: 16px;
    --fs-h4: 24px;
    --fs-text-big: 20px;
    --fs-text-small: 14px;
    --border-button: solid #7e7d7d;
    --bg-color-button: transparent;
}
